<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>climb music 首页</title>
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="static/css/index/index_css.css">
</head>
<body>
<div class="b_container">
<div id="index_director">
    <div id="logo">
        <img src="" alt="">
    </div>

    <span class="subdir">
    <a href="/login" target="blank"><li class="login inline">登录</li></a>
    <li class="inline">/</li>
    <a href="/register"><li class="register inline">注册</li></a>
    </span>

    <li class="d_f">关于我们</li>
    <li class="d_f">特价充值</li>
    <li class="d_f">音乐商城</li>
    <li class="d_f">首页</li>
</div>
<div id="index_body">
    <!-- 第一行的标题 -->
    <h1 class="i_header">Climb Music音乐授权 有保障的版权音乐</h1>
    <!-- 搜索栏 -->
    <form action="" class="parent">
        <input type="text" placeholder="请输入您要查询的 歌星 音乐名 专辑名等" maxlength="1024">
        <input type="button" value="爬一下">
    </form>
    <div>
        <div class="hot_search">热门搜索:</div>
        <li class="hot_link_show"></li>
    </div>
</div>

<div class="btn_link">
    <li class="left_bottom">←免费音乐下载</li>
    <li class="right_bottom">音乐定制服务→</li>
</div>
</div>
<script src="static/js/index/index_js.js"></script>
</body>
</html>