<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
</head>
<body>
<link rel="stylesheet" href="/static/css/login_reg/login_css.css">
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/login_reg/login_js.js"></script>
<div class="main_frame">
    <div class="form_div">
        <form action="" method="post">
            <h1 class="head">登录</h1>
            <span class="parent">
                <p class="show_inline">用户名:</p><input type="text" class="show_inline" name="username" id="username" placeholder="请输入用户名" required>
            </span>
            <span class="parent">
                <p class="show_inline">密码:</p><input type="password" name="password" id="password" class="show_inline" placeholder="请输入密码" required>
                <a href=""><p>忘记密码?</p></a>
            </span>
            <span>
                <p><input type="button" value="登录" class="login_btn" onclick="login()"></p>
            </span>
        </form>
    </div>
</div>
</body>
</html>