<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人中心</title>
</head>
<body>
<link rel="stylesheet" href="/static/css/user_info/user_info.css">
<div class="top_dir">
    <!-- 导航栏 -->
    <div class="sub_dir">
        <!-- 放具体导航选项 -->
        <!-- 首页 个人收藏 购物车 评论   / 修改个人信息 退出 -->
        <li class="left_dir"><a href="">首页</a></li>
        <li class="left_dir"><a href="">个人收藏</a></li>
        <li class="left_dir"><a href="">购物车</a></li>
        <li class="left_dir"><a href="">我的评论</a></li>

        <li class="right_dir"><a href="">退出</a></li>
        <li class="right_dir"><a href="">编辑个人信息</a></li>
    </div>
</div>

<div class="detail">
    <!-- 左侧区域块 -->
    <!-- 通过数据库导入个人信息 -->



</div>

<div class="person_intro">
    <!-- 显示用户头像 个性签名 个人描述 -->





</div>


</body>
</html>